@tailwind base;
@tailwind components;
@tailwind utilities;
/* Eliminar los controles de subir/bajar en Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Eliminar los controles en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
